<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : Config.xml
    Created on : September 20, 2013, 9:51 AM
    Author     : sai
    Description:
        Purpose of the document follows.
-->

<ROOT>
    <SETTING>
		<!--<DRIVER>com.microsoft.sqlserver.jdbc.SQLServerDriver</DRIVER> --><!-- DB Connection Start-->
        <!-- <DRIVER>org.postgresql.Driver</DRIVER> -->
        <DRIVER>com.mysql.jdbc.Driver</DRIVER>
        <URL>jdbc:mysql://</URL>
        <DB_IP>trackdb.cf53zztlzwqg.us-east-1.rds.amazonaws.com:3360</DB_IP>
        <DB_NAME>trackdb</DB_NAME>
        <DB_USER>trackuser</DB_USER>
        <DB_PWD>trackpass</DB_PWD><!-- DB Connection End-->
        <DATA_IP>172.31.57.218</DATA_IP><!-- Data Url Start-->
        <DATA_PORT>1339</DATA_PORT>
        <TIMEZONE>+05:30</TIMEZONE>
        <MIN_CONNECTION>5</MIN_CONNECTION>
        <MAX_CONNECTION>50</MAX_CONNECTION>
        <COMPANY_NAME>Trinity</COMPANY_NAME>
        <BUILD_DATE>20/09/2013</BUILD_DATE>
        <VERSIONNO>1.0</VERSIONNO>
        <ENABLE_DISPATCH>false</ENABLE_DISPATCH>
    </SETTING>
</ROOT>
